name: Deploy Databricks asset bundle

on:
  push:
    branches:
      - main
      - develop

jobs:
  lint-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Move to bundle directory
        run: cd bundle

      - name: Install Flake8
        run: pip install flake8

      - name: Run Flake8
        run: flake8 .

  deploy-bundle:
    runs-on: ubuntu-latest

    needs: lint-check

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Move to bundle directory
        run: cd bundle
        
      - name: Install Databricks CLI
        run: curl -fsSL https://raw.githubusercontent.com/databricks/setup-cli/main/install.sh | sh

      - name: Configure Databricks CLI
        run: |
          databricks configure --token <<EOF
          ${DATABRICKS_HOST}
          ${DATABRICKS_TOKEN}
          EOF
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}

      - name: Deploy Databricks asset bundle
        run: |
          if [ "${{ github.ref }}" == "refs/heads/develop" ]; then
            databricks bundle deploy --target dev
          else
            databricks bundle deploy --target prod
          fi